<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Грузовозофф</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    {% if session.get('user_id') %}
        <a href="{{ url_for('orders') }}">Мои заявки</a>
        <a href="{{ url_for('create') }}">Новая заявка</a>
        <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
        <a href="{{ url_for('login') }}">Вход</a>
        <a href="{{ url_for('register') }}">Регистрация</a>
    {% endif %}
    <a href="{{ url_for('admin_panel') }}">Админ</a>
</nav>
<div class="container">
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
